input {
    background-color: lightblue;
    flex-grow: 1;
}
input:focus,
input:hover {
    background-color: red;
    border: none;
}
.submit:focus,
.submit:hover {
    background-color: red;
    border: none;
}
input, .submit {
    border: 2px solid black;
    font-size: 1.1rem;
    padding: 0.25rem 1rem;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    cursor: pointer;
}

.form-horizontal {
    display: flex;
}

form {
    padding: 1rem ;
}

@media (min-width: 600px) {
    form {
        padding: 1rem 10rem;
    }
    input, .submit {
        margin: 0 1rem 2rem 1rem;
    }
}