.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90vw;
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;
}
header {
	padding: 1rem 0;
	background: rgb(82, 82, 82);
}

.home-button {
	text-decoration: none;
	text-align: center;
	color: black;
	font-size: 1.1rem;
	padding: 0.25rem 1rem;
	border-radius: 10px;
	cursor: pointer;
	border: 2px solid black;
	margin: 0 0 1rem 0;
	background: rgb(232, 232, 232);
	align-self: stretch;
}

.home-button:focus,
.home-button:hover {
	background: rgb(196, 196, 196);
}

@media (min-width: 600px) {
	.header-container {
		flex-direction: row;
	}
	.home-button {
		margin: 0 1rem 0 0;
	}
}
